{% extends "base.html" %}
{% load static %}

{% block content %}

{% load static %}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="container d-flex py-2">
  <div class="p-5 text-column rounded-start-5 w-75 pcwkb-bg-color">
    <h1>Welcome to Plant Cell Wall KnowledgeBase!</h1>
    <p style="text-align: justify;"> Our database facilitates the connection between molecular biology experiments and
      changes in the composition of plant cell wall and biomass.<br> It mainly comprises grass species (including the main
      grass C3 and C4 models), but we also include dicot models (such as <i>Arabidopsis thaliana</i>).<br> We expect
      that this resource accelerates research aiming to study elements involved in biomass recalcitrance, energy production, 
      and any other cell wall-related research you wish.</p>
    <a href="/pcwkb_core/browse_species" class="browse-species-btn">Browse Species</a>
  </div>
  <div class="w-50 p-5 justify-content-center image-column rounded-end-5 w-25" style="background-color: #88b993;">
    <img src="{% static 'img/pcwkb.jpg' %}" alt="Plant Cell Wall KnowledgeBase" class="img-fluid object-fit-scale rounded-5">
  </div>
</div>
<div class="container py-2">  
  <div class="border border-success p-3 rounded-top-5 bg-success text-white">
  <h1 class="text-center">Navigate through plant cell wall component!</h1>
  </div>
  <div class="border-start border-end border-success pcwkb-bg-color">
  <p class="text-center mb-0" style="text-align: justify;"> Click on a cell wall component and you will be redirected to related information</p>
  </div>
  <div class="border border-top-0 border-success d-flex justify-content-center w-100 rounded-bottom-5 bg-white" id="svginterativo">
    <object type="image/svg+xml" data="{% static 'img/plantcellwall.svg' %}" class="img-fluid w-75 object-fit-scale"></object>
  </div>
</div>

{% endblock %}