{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="p-4">
    <div class="background-color-88b993 rounded-top-5">
        <h1 class="text-center">Orthogroup: {{ orthogroup }}</h1>
        <table class="table table-responsive">
            <tbody>
                <tr>
                    <td class="w-50">
                        <h6>Tool: {{ method.tool }}</h6>
                    </td>
                    <td class="w-50">
                        <h6>Version: {{ method.version }}</h6>
                    </td>
                </tr>
                <tr>
                    <td class="w-50">
                        <h6>Run: {{ method.run }}</h6>
                    </td>
                    <td class="w-50">
                        {% if method.description %}
                        <h6>Description: {{ method.description }}</h6>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="p-4">
    <div class="background-color-f5f5f5 rounded-bottom-5">
        <p><strong>Proteins in this Orthogroup:</strong></p>
        <ul>
            {% for og in proteins %}
            <li><a href="pcwkb_core/gene_page/{{og.protein.gene}}">{{ og.protein.protein_name }}</a></li>
            {% empty %}
            <li>No proteins found in this orthogroup.</li>
            {% endfor %}
        </ul>
    </div>
</div>


<p>Tree: {{ orthogroup.tree }}</p>

{% endblock %}