{% extends "base.html" %}
{% block content %}

<div class="p-4">
    <div class="background-color-88b993">
        <h1 class="text-center">Orthogroup: {{ orthogroup }}</h1>
        <table class="table table-responsive">
            <tbody>
                <tr>
                    <td>
                        <h4>Tool: {{ method.tool }}</h4>
                    </td>
                    <td>
                        <h4>Version: {{ method.version }}</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Run: {{ method.run }}</h4>
                    </td>
                    <td>
                        {% if method.description %}
                        <h4>Description: {{ method.description }}</h4>
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="p-4">
    <div class="background-color-f5f5f5">
        <p><strong>Proteins in this Orthogroup:</strong></p>
        <ul>
            {% for og in proteins %}
            <li><a href="pcwkb_core/gene_page/{{og.protein.gene}}">{{ og.protein.protein_name }}</a></li>
            {% empty %}
            <li>No proteins found in this orthogroup.</li>
            {% endfor %}
        </ul>
    </div>
</div>
<p>Tree: {{ orthogroup.tree }}</p>

{% endblock %}