{% extends "base.html" %}

{% block content %}

    {{ gene_name }}
    {{ gene_description }}

    Functional Annotation

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Source</th>
            <th scope="col">Identifier</th>
            <th scope="col">Description</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">{{ gene_name }}</th>
            <td>{{ gene_name }}</td>
            <td>{{ description }}</td>
          </tr>
        </tbody>
      </table>

{% endblock %}
</html>