{% extends "base.html" %}
{% load static %}

{% block content %}

{% if scientific_name %}

<div class="container-fluid px-4 py-3">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb background-color-aac0b218">
      <li class="breadcrumb-item"><a href="pcwkb_core">Home</a></li>
      <li class="breadcrumb-item"><a href="pcwkb_core/browse_species">Species</a></li>
      <li class="breadcrumb-item active" aria-current="page"><i>{{ scientific_name }}</i></li>
    </ol>
  </nav>
</div>

<header class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center"><i>{{ scientific_name }}</i></h2>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-success-subtle">
        {% if common_name %}
        <h4 class="text-secondary mb-5 text-center"> Common Name: {{ common_name }} <br> Species Code: {{ species_code }} </h4>
        {% else %}
        <h4 class="text-secondary mb-5 text-center"> Species Code: {{ species_code }} </h4>
        {% endif %}
      </div>
    </div>
  </div>
</header>

<style>
  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  a {
    color: rgb(25 135 84);
    text-decoration: none;
    font-weight: bold;
  }
</style>

<div class="b-example-divider"></div>

{% endif %}

{% if biomass_composition %}

{{ biomass_composition|json_script:"biomass_composition" }}
<div class="mx-auto w-75">
  <script>
    const scientificName = '{{ scientific_name }}'
    const biomasscomp = JSON.parse(document.getElementById('biomass_composition').textContent);
  </script>
  <div id="grafico" class="overflow-auto"></div>
    <p class="d-flex justify-content-end">Referência: <a href="https://doi.org/{{biomass_composition_literature.doi}}" target="_blank">"{{ biomass_composition_literature.title }}"</a></p>
  <script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
  <script src="{% static 'script/species/species_plotyheatmap.js' %}"></script>
</div>
{% else %}
<div class="row justify-content-md-center">
  <h4 class="text-secondary mb-5 text-center"> Species without biomass composition data </h4>
</div>
{% endif %}



<section class="p-4 mt-4" id="genes_section">
  <h3 class="text-center">Plant Cell Wall related genes</h3>

  {% if genes_paginated %}
  <table class="table table-striped table-responsive" text-align="center" id="data-table">
    <thead>
      <tr>
        <th scope="col">Gene Name</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>

  <div id="pagination-links">

  </div>
  {% else %}

  <p>No genes found for this species.</p>

  {% endif %}

</section>


<script>

  function loadTableData(page) {
    fetch(`/pcwkb_core/gene_list/{{ species_id }}?page=${page}`)
      .then(response => response.json())
      .then(data => {
        const tableBody = document.getElementById('data-table').getElementsByTagName('tbody')[0];
        tableBody.innerHTML = '';  // Clear current table data

        data.data.forEach(rowData => {
          const row = tableBody.insertRow();
          const cell1 = row.insertCell(0);
          cell1.innerHTML = `<a href="pcwkb_core/gene_page/${rowData.gene_name}">${rowData.gene_name}</a>`;
          const cell2 = row.insertCell(1);
          cell2.innerHTML = rowData.description;
        });

        // Handle pagination links
        const paginationLinks = document.getElementById('pagination-links');
        paginationLinks.innerHTML = '';  // Clear current pagination links

        for (let i = 1; i <= data.num_pages; i++) {
          const link = document.createElement('a');
          link.innerText = i;
          link.href = '#';
          link.addEventListener('click', () => loadTableData(i));
          paginationLinks.appendChild(link);
        }
      });
  }

  // Load first page on page load
  loadTableData(1);

</script>

{% endblock %}