{% extends "base.html" %}

{% block content %}

<p> {% if scientific_name %}

<header>
  <h1>{{ scientific_name }}</h1>
</header>

<div class="b-example-divider"></div>

{{ species_code }}

{% if common_name %}
{{ common_name }}
{% endif %}

{% endif %} </p>

{% if biomass_composition %}
<div>
  <div id="grafico"></canvas>
  </div>
  {% endif %}

  {% if genes_paginated %}

    Plant Cell Wall-related Genes

    <table class="table" text-align="center" id="data-table">
      <thead>
        <tr>
          <th scope="col">Gene Identifier</th>
          <th scope="col">Description</th>
        </tr>
      </thead>
      <tbody>

      </tbody>
    </table>

  <div id="pagination-links">
    
  </div>
  {% else %}
  
  <p>No genes found for this species.</p>
  
  {% endif %}

<script>

function loadTableData(page) {
    fetch(`/pcwkb_core/gene_list/{{ species_id }}?page=${page}`)
        .then(response => response.json())
        .then(data => {
            const tableBody = document.getElementById('data-table').getElementsByTagName('tbody')[0];
            tableBody.innerHTML = '';  // Clear current table data

            data.data.forEach(rowData => {
                const row = tableBody.insertRow();
                const cell1 = row.insertCell(0);
                cell1.innerHTML = rowData.gene_name;
                const cell2 = row.insertCell(1);
                cell2.innerHTML = rowData.description;
            });

            // Handle pagination links
            const paginationLinks = document.getElementById('pagination-links');
            paginationLinks.innerHTML = '';  // Clear current pagination links

            for (let i = 1; i <= data.num_pages; i++) {
                const link = document.createElement('a');
                link.innerText = i;
                link.href = '#';
                link.addEventListener('click', () => loadTableData(i));
                paginationLinks.appendChild(link);
            }
        });
}

// Load first page on page load
loadTableData(1);

</script>

  <script src="https://cdn.plot.ly/plotly-2.27.0.min.js"></script>
  <script>
    PLOT = document.getElementById('grafico');
    var data = [{
      values: [45, 20, 3, 25, 7],
      labels: ['Cellulose', 'Hemicellulose', 'Pectin', 'Lignin', 'Other'],
      domain: { column: 0 },
      name: 'Cell Wall Components',
      hoverinfo: 'label+percent',
      hole: .4,
      type: 'pie',
      automargin: true
    }];

    var layout = {
      title: '<i>Populus trichocarpa</i>',
      annotations: [
        {
          font: {
            size: 15
          },
          showarrow: false,
          text: 'Cell Wall Components',
          x: 0.5,
          y: 0.5
        }],
      height: 600,
      width: 800,
      showlegend: true,
      legend: { "orientation": "h" },
      grid: { rows: 1, columns: 1 }
    };

    Plotly.newPlot(PLOT, data, layout);
  </script>
</html>

{% endblock %}