{% extends "base.html" %}

{% block content %}
<div class="container my-5">
    <div class="row mb-4">
        <div class="col-12">
            <h1 class="text-center">Welcome {{ user.first_name }}!</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-6">
            <div class="card p-4">
                <h2 class="card-title">User Information</h2>
                <p><strong>Username:</strong> {{ user.username }}</p>
                <p><strong>Email:</strong> {{ user.email }}</p>
                <p><strong>Full Name:</strong> {{ user.get_full_name }}</p>
                <!-- Add more user information here if needed -->
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card p-4">
                <h2 class="card-title">Account Settings</h2>
                <p class="btn btn-primary">Change Password</p>
                <!-- Add links to other account-related pages here -->
                <p class="btn btn-secondary">Update Profile Information</p>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="card p-4">
                <h2 class="card-title">Messages</h2>
                {% if user_messages %}
                <ul>
                    {% for message in user_messages %}
                        <li><strong>{{ message.title }}:</strong> {{ message.content }} ({{ message.timestamp }})</li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No messages</p>
                {% endif %}
            </div>
        </div>
    </div>


    {% if not is_researcher and not is_reviewer %}
    <div class="row mb-3">
        <div class="col-12">
            <div class="card p-4">
                <h5 class="card-title">If you'd like to apply for a Researcher role, which allows you to submit data, or a Reviewer role, 
                    which includes both submitting and reviewing data, please email us at pcwallkb@gmail.com. <br>
                    For Researcher access: Use the subject line “Request to Become a Researcher” and include your username in the email.<br>
                    For Reviewer access: Use the subject line “Request to Become a Reviewer” and include your username in the email.</h5>
            </div>
        </div>
    </div>
    {% else %}

    {% if is_reviewer %}
    <div class="row mb-3">
        <div class="col-12">
            <div class="card p-4">
                <h2 class="card-title">Review Submissions</h2>
                <h5> Click on a submission name to display the data at the bottom of the page. </h5>
                {% if review_submissions %}
                <ul>
                    {% for submission in review_submissions %}
                        <li>
                            <a href="#" class="submission-title" data-json='{{ submission.json_data }}' data-title='{{ submission.title }}'>{{ submission.title }}</a> ({{ submission.created_at }}) - Reviewed: {{ submission.reviewed|yesno:"Yes,No" }}
                            <form action="{% url 'handle_review_action' submission.id %}" method="post" class="float-right">
                                {% csrf_token %}
                                <input type="hidden" name="submission_id" value="{{ submission.id }}">
                                <button type="submit" name="action" value="approve" class="btn btn-primary btn-sm">Approve</button>
                                <button type="submit" name="action" value="request_correction" class="btn btn-warning btn-sm">Request Correction</button>
                                <textarea name="reviewer_message" placeholder="Enter correction message" rows="2" class="form-control mt-2"></textarea>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No submissions to review</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row mb-3">
        <div class="col-12">
            <div class="card p-4">
                <h2 class="card-title">Submit data</h2>
                <a href="{% url 'data_submission' %}"> <button class="btn btn-success text-white" type="button">  Submit data  </button> </a>
            </div>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            <div class="card p-4">
                <h2 class="card-title">Data Submissions</h2>
                <h5> Click on a submission name to display the data at the bottom of the page. </h5>
                {% if data_submissions %}
                <ul>
                    {% for submission in data_submissions %}
                        <li>
                            <a href="#" class="submission-title" data-json='{{ submission.json_data }}' data-title='{{ submission.title }}'>{{ submission.title }}</a> ({{ submission.created_at }}) - Reviewed: {{ submission.reviewed|yesno:"Yes,No" }}
                        </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No data submitted</p>
                <a href="{% url 'data_submission' %}"> <button class="btn btn-success text-white" type="button">  Submit data  </button> </a>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- Placeholder for the JSON data tables -->
    <div id="json-tables-container">
        <!-- Tables will be dynamically added here -->
    </div>
    <div class="row mb-3">
        <div class="col-12 text-center">
            <h5>After clicking on a submission name, you can download it here</h5>
            <button id="export-to-excel" class="btn btn-success">Export to Excel</button>
        </div>
    </div>
    {% endif %}
</div>

<!-- Include DataTables CSS and JS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.1.4/css/dataTables.dataTables.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/3.1.1/css/buttons.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.datatables.net/2.1.4/js/dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/3.1.1/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>

<script>
document.addEventListener("DOMContentLoaded", function() {
    // Handle click event on submission titles
    document.querySelectorAll(".submission-title").forEach(function(title) {
        title.addEventListener("click", function(event) {
            event.preventDefault();
            var jsonData = JSON.parse(this.getAttribute("data-json"));
            var baseTitle = this.getAttribute("data-title");
            renderTables(jsonData, baseTitle);
        });
    });

    function renderTables(jsonData, baseTitle) {
        var tablesContainer = document.getElementById("json-tables-container");

        // Clear previous tables
        tablesContainer.innerHTML = '';
    
        // Create a title div
        var titleDiv = document.createElement("div");
        titleDiv.className = "row mb-3";
        titleDiv.innerHTML = `
            <div class="col-12">
                <div class="card p-4">
                    <h2 class="card-title">Sheets from ${baseTitle}</h2>
                </div>
            </div>`;
        tablesContainer.appendChild(titleDiv);

        // Helper function to create and initialize a DataTable
        function createDataTable(data, titleText) {
            var tableContainer = document.createElement("div");
            tableContainer.className = "row mb-3";
            var tableInnerHtml = `
                <div class="col-12">
                    <div class="card p-4">
                        <h2 class="card-title">${titleText}</h2>
                        <div class="table-responsive">
                            <table class="display" style="width:100%"></table>
                        </div>
                    </div>
                </div>`;
            tableContainer.innerHTML = tableInnerHtml;

            var table = tableContainer.querySelector("table");

            // Extract columns
            var columns = [];
            if (data.length > 0) {
                var firstRow = data[0];
                for (var key in firstRow) {
                    if (firstRow.hasOwnProperty(key)) {
                        columns.push({ title: key, data: key });
                    }
                }
            }

            // Initialize DataTable
            $(table).DataTable({
                data: data,
                columns: columns
            });

            // Append the table container to the main container
            tablesContainer.appendChild(tableContainer);
        }

        // Render tables if data is not empty
        if (jsonData.biomass_gene_association_data && jsonData.biomass_gene_association_data.length > 0) {
            createDataTable(jsonData.biomass_gene_association_data, "biomass_gene_association_data");
        }
        if (jsonData.experiment_data && jsonData.experiment_data.length > 0) {
            createDataTable(jsonData.experiment_data, "experiment_data");
        }
        if (jsonData.species_data && jsonData.species_data.length > 0) {
            createDataTable(jsonData.species_data, "species_data");
        }
        if (jsonData.gene_gene_association_data && jsonData.gene_gene_association_data.length > 0) {
            createDataTable(jsonData.gene_gene_association_data, "gene_gene_association_data");
        }
    }

    document.getElementById("export-to-excel").addEventListener("click", function() {
        var wb = XLSX.utils.book_new();

        document.querySelectorAll("#json-tables-container .display").forEach(function(table) {
            var sheetTitle = table.closest(".card").querySelector(".card-title").innerText;
            var data = $(table).DataTable().rows().data().toArray();

            if (data.length > 0) {
                var ws = XLSX.utils.json_to_sheet(data, { header: Object.keys(data[0]) });
                XLSX.utils.book_append_sheet(wb, ws, sheetTitle);
            }
        });

        XLSX.writeFile(wb, {baseTitle});
    });
});
</script>
{% endblock %}
